################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MultiTenant/obj
/.vs
/MultiTenant/bin/Debug/net8.0
